@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f8 !important; /* บังคับให้เป็นสีนี้ */
  font-family: 'Kanit', sans-serif !important;
  color: #2d3748;
}